@model SOF301.Models.Users
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm())
{
    <input type="text" placeholder="User name" name="UserName"/>
    <button type="submit">Send Recover Link</button>
    <br />
    <br />
    <a href="@Url.Action("Login", "Auth")" >Back to Login Page</a>
}

